<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a study</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
    { padding-top: 70px ;}
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Dashboard</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"> <a class="nav-link" href="/">Visualize data</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/studies_manager">Manage the studies</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Main content-->
    <div class="container pt-5">
        <div class="row mb-3">

            <!--Form-->
            <form id="formStudy">
                <div class="card">
                    <div class="card-header">
                        Adding a file for {{ name|safe }}
                    </div>

                    <div class="card-body">
                        
                        <!--Type of file selector-->
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <select class="form-control" id="typeFileSelector">
                                    <option value="1">Add a subdivision into zones</option>
                                    <option value="2">Add a group of points</option>
                                </select>
                            </div>
                        </div>

                        <!--Add a subdivision into zones-->
                        <div class="row" id="divType1" style="display: none;">
                            <div class="col-md-12">

                                <!--Restriction text-->
                                <div class="row">
                                    <div class="col-md-12">
                                        Your file should be a shapefile &lpar.shp&rpar, with polygons or multipolygons, each having a name and an integer.
                                    </div>
                                </div>

                                 <!--Column selection-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <select class="form-control" id="columnSelectorName">
                                            
                                        </select>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <!--Add a group of points-->
                        <div class="row" id="divType2" style="display: block;">
                            <div class="col-md-12">

                                <!--Element 1-->
                                <div class="row">
                                    <div class="col-md-12">
                                        a
                                    </div>
                                </div>

                                <!--Element 2-->
                                <div class="row">
                                    <div class="col-md-12">
                                        a
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--Button-->
                <button type="button" class="btn btn-primary" id="submitFileButton">Submit the file</button>
            </div>
        </div>

    </div>
    
</body>

<script src="{{ url_for("static", filename="js/study_add_file.js") }}"></script>

</html>